{% extends "learning_logs/base.html" %}

{% block header %}
  <h1>{{ topic }}</h1>
  
{% endblock header %}

{% block content %}
<h3>
  <div> <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a></div><br>
  </h3>

  <p>
  	
  </p>
  <ul>
  {% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ entry.date_addedd|date:'d M, Y H:I' }}
          <small>
            <a style="float: right" href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ entry.text|linebreaks }}
      </div>
    </div> <!-- panel -->
    {% empty %}
      There are no entries for this topic yet.
    {% endfor %}

{% endblock content %}